@import 'mixins';
@import 'variables';
@import 'header';
@import 'modal';
@import 'slider';
@import 'projects';
@import 'news';
@import 'faq';
@import 'subscribe';
@import 'footer';
@import 'alertMessages';


html {
    scroll-behavior: smooth;
}
a {
    text-decoration:none;
    color: $white;
}
ol, ul {
	list-style: none;
    padding: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
}
main{
    padding-top: 120px;
    background-color: $black;
    @media(max-width: 992px){
        padding-top: 89px;
    }
}
body {
    color: $black;
    @include desktop_typography;
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding: 0;
    @media(max-width: 768px){
        @include phone_typography;
    }
}
section{
    padding: 0 40px;
    color: white;
    @media(max-width: 768px){
        padding: 0 10px;
    }
}
.wrapper{
    position: relative;
    display: grid;
    margin: 0 auto;
    max-width: 1440px;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 32px;
}
.link{
    cursor: pointer;
    transition: color .1s linear;
    &:hover{
        color: rgba($white, 0.3);
    }  
}
.arrow{
    transition: transform .1s linear;
}
.checkbox{
    input{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    input:checked + label::before{
        background-image: url('../img/checkbox.svg'), $gradient;
        
    }
    label{
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::before{
            content: '';
            display: inline-block;
            min-width: 18px;
            min-height: 18px;
            border: 1px solid;
            border-image: $gradient;
            border-image-slice: 1;
            margin-right: 10px;
        }
    }
}
input{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid $black;
}
button{
    cursor: pointer;
    padding: 12px 20px;
    position: relative;
    background: transparent;
    border: none;
    border-radius: 40px;
    z-index: 1;
    &:after{
        padding: 12px 20px;
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 40px;
        border: 1px solid transparent;
        background: $gradient border-box;
        -webkit-mask: 
            linear-gradient(#fff 0 0) padding-box, 
            linear-gradient(#fff 0 0);
        mask-composite: exclude; 
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -2;
        height: 100%;
        background: $gradient;
        border-radius: 40px;
        opacity: 0;
        transition: opacity .2s linear;
    }
    &:hover:before{
        opacity: 1;
    }
}
.button_white{
    color: $white;
}
.button__contact-us{
    align-self: self-start;
}
.section-title{
    text-transform: uppercase;
}

