.projects{
    padding-top: 40px;
    grid-column-start: 1;
    grid-column-end: 7;
    position: relative;
    @media(max-width: 768px){
        padding-top: 20px;
    }
}
.projects__img img{
    object-fit: cover;
    width: 100%;
    @media(max-width: 768px){
        margin-bottom: 20px;
    }
}
.projects__tag{
    text-transform: uppercase;
    border: 1px solid rgba($white, 0.5);
    border-radius: 40px;
    color: rgba($white, 0.5);
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 37px;
    @media(max-width: 992px){
        display: none;
    }
}
.projects-list{
    border-bottom: 1px solid rgba($white, 0.3);
}
.projects__title{
    text-transform: uppercase;
    margin-bottom: 20px;
    @media(max-width: 768px){
        margin-bottom: 10px;
    }
}
.projects__subtitle{
    margin-bottom: 60px;
    max-width: 440px;
    color: rgba($white, 0.5);
    @media(max-width: 768px){
        margin-bottom: 80px;
    }
}