.slider{
    overflow: hidden;
}
.slider__arrows{
    z-index: 2;
}
.slider__arrows_projects{
    position: absolute;
    bottom: 40px;
}
.slider__arrows_news{
    display: none;
    @media(max-width: 576px){
        display: block;
        margin-top: 30px;
    }
}
.slider__arrow-previous{
    cursor: pointer;
    transform: rotate(180deg);
}
.slider__arrow-next{
    padding-left: 20px;
    transform: translateY(-1px);
    cursor: pointer;
}
.slide{    
    position: absolute;
    opacity: 0;
    z-index: -10;
    transition: opacity 1s linear;
}
.slide_projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 40px;
    @media(max-width: 768px){
        display: flex;
        flex-direction: column-reverse;
    }
}
.slide_news{
    z-index: 1;
    position: relative;
    opacity: 1;
    @media(max-width: 576px){
        position: absolute;
        opacity: 0;
        z-index: -10;
    }
}
.slide_active{
    z-index: 1;
    position: relative;
    opacity: 1;
}
